<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <section class="container">
          <aside class="primary">
            <img src="/assets/images/akbrown_400.jpg">
          </aside>
          <article class="secondary">
            <h2>Hey, I'm angel.</h2>
            <p> I'm a software developer. I live in Athens, GA.</p> 
            <p>Lately, I've worked for a <a href="http://cogenteducation.com" target="_blank">few</a> <a href="http://wagglez.com" target="_blank">startups</a> doing Rails, a little iPhone and Android development, and some <a href="http://skillcrush.com/blueprint/ruby-rails-developer/" target="_blank">curriculum development for Ruby, Sinatra and Rails.</a> You can read more about all that on my <a href="http://linkedin.com/in/angelkbrown" target="_blank">linkedin profile</a>.</p>

            <p>I've also been thrilled to participate in some local initiatives aimed at addressing diversity gaps in tech, like <a href="http://railsgirlsathens.com/" target="_blank">Rails Girls Athens</a> and <a href="https://www.bridgetroll.org/events/150" target="_blank">RailsBridge Atlanta</a>.</p>
            
            <p>You might be looking for this <a href="http://twitter.com/angelkbrown" target="_blank">angel k. brown</a>. That's not me. I am not a baby.</p>
                      
          </article>
        </section>
        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
