<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <section class="container">
          <aside class="primary">
            <img src="/assets/images/akbrown_400.jpg">
          </aside>
          <article class="secondary">
            <h2>Hey, I'm angel.</h2>
            <p>I aim to have a positive impact on the world.</p>
            
            <p>Currently, I am an engineer at <a href="http://calendly.com" target="_blank">Calendly</a>.</p>
          </article>
        </section>
        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
